extends layout
block content
    div#react-mount
    script.
        window.user = !{user};
        window.Booker = !{permissions};
    script(type=text/glsl)#tm-frag
        include ../components/tm-frag.glsl
    script(type=text/glsl)#tm-vert
        include ../components/tm-vert.glsl
    script(type=text/glsl)#snoise
        include ../components/snoise.glsl
    script(type=text/glsl)#loading-frag
        include ../components/loading-frag.glsl
    script(src="/js/main.js")
