extends layout
block content
    div#app-root
    script.
        window.user = !{user};
        window.Booker = !{permissions};
    script(type=text/glsl)#tm-frag
        include ../../static/assets/tm-frag.glsl
    script(type=text/glsl)#tm-vert
        include ../../static/assets/tm-vert.glsl
    script(type=text/glsl)#snoise
        include ../../static/assets/snoise.glsl
    script(type=text/glsl)#loading-frag
        include ../../static/assets/loading-frag.glsl
    script(src='/' + manifest['main.js'])
