doctype html
html
	head
		meta(property='og:title', content=title)
		meta(property='og:site_name', content=site)
		meta(property='og:image', content='/favicon.png')
		meta(property='og:description', content=description)
		meta(property='description', content=description)
		title= title
		style.
			body, html {
				background: #1a1e26;
			}
			#svg-source {
				display: none;
			}
		link(rel='icon', href='/favicon.ico')
		meta(name='viewport',  content='width=device-width, initial-scale=1')
		meta(name='theme-color', content='#24252b')
		link(href="//fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap", rel="stylesheet")
		link(rel="stylesheet", href="/fontawesome-free/css/all.min.css")
		if !development
			each fileName in cssImports
				link(rel="stylesheet", href=`/${fileName}`)
	body
		svg#svg-source
			include ../../static/assets/logo-favicon.svg
		block content
